.friendList {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.item {
  width: 150px;
  box-shadow: 2px 5px 15px 1px rgba(68, 17, 56, 0.2);
  padding: 10px;
  display: flex;
  align-items: center;
}
.name {
  font-weight: 700;
  padding: 10px;
}
.status {
  padding: 10px;
}
